---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>便利店连锁-月底集中处理补货申请系统</title>
  </head>
  <body>
    <slot />
  </body>
</html>
